# Dependencies
/node_modules

# Build output
/dist

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# Misc
/.angular/cache
.DS_Store
Thumbs.db

# Environment files
/src/environments/environment.development.ts
